.header {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px !important;
}

.row {
    margin-bottom: 0px !important;
}

main {
    padding: 16px;
}

header, main, footer {
    margin-left: 60px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}